
. ~/.local/bin/virtualenvwrapper.sh

pdf-CalcoloParallelo

__pycache__

pdf*
video*
chimica*
driver*
elements*
DINAMICA*
GAME*
SISTEMI*
data/credentials.txt
build*
dist*
download*
INP*
TODO.txt
SCN*
elements.pkl